<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
      <div class="header-inner"><div class="site-brand-wrapper">
  <div class="site-meta ">


    <div class="custom-logo-site-title">
      <a href="/"  class="brand" rel="start">
        <span class="logo-line-before"><i></i></span>
        <span class="site-title">Mr.Chen</span>
        <span class="logo-line-after"><i></i></span>
      </a>
    </div>

        <p class="site-subtitle">Mr.Chen's blog</p>

  </div>

  <div class="site-nav-toggle">
    <button>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
    </button>
  </div>
</div>

<nav class="site-nav">



    <ul id="menu" class="menu">


        <li class="menu-item menu-item-首页">
          <a href="/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-home"></i> <br />

            主页
          </a>
        </li>


        <li class="menu-item menu-item-关于">
          <a href="/about/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-user"></i> <br />

            关于
          </a>
        </li>


        <li class="menu-item menu-item-标签">
          <a href="/tags/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-tags"></i> <br />

            标签
          </a>
        </li>


        <li class="menu-item menu-item-分类">
          <a href="/categories/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-th"></i> <br />

            分类
          </a>
        </li>


        <li class="menu-item menu-item-归档">
          <a href="/archives/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-archive"></i> <br />

            归档
          </a>
        </li>


        <li class="menu-item menu-item-地图">
          <a href="/sitemap.xml" rel="section">

              <i class="menu-item-icon fa fa-fw fa-sitemap"></i> <br />

            地图
          </a>
        </li>


        <li class="menu-item menu-item-公益404">
          <a href="/404/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-heartbeat"></i> <br />

            公益404
          </a>
        </li>



    </ul>



</nav>



 </div>
    </header>